@import '../../assets/scss/bootstrap';
@import '../../assets/scss/variables';

nav {
  color: #386641;
  display: flex;
  flex-direction: column;
  height: 80%;
}

nav a {
  color: #386641;
  font-size: 18px;
}

nav ul {
  list-style: none;
}

nav ul li {
  opacity: 0;
}

.logout-link {
  margin-top: auto !important;
  margin-bottom: 0px !important;
}

.imgWrap {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #e5e5e5;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.welcome-text {
  margin: 10px auto 50px auto;
  display: block;
  width: fit-content;
}

.imgWrap img {
  width: 80%;
  display: block;
  margin: auto;
}

.userNav {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  border-radius: 0 0 10px 10px;
  ul {
    list-style: none;
    width: 30%;
    li {
      text-align: center;
      width: 100%;
      padding: 35px 0px;
      margin-bottom: 0px;
      transition: all, 2s;
      &:hover {
        background: rgba($sandy-brown, 2%);
      }
      &:last-of-type {
        border-bottom: none;
      }
      border-bottom: 1px solid $white;
      a {
        color: $white;
      }
    }
  }
}

.showFlex {
  display: flex;
}
