@import '../../../assets/scss/bootstrap';
@import '../../../assets/scss/variables';

.edit-story-form {
  .story-pages-content {
    .row {
      border-radius: 10px;
      background-color: white;
      padding: 15px 10px;
      margin-bottom: 3px;
      img {
        height: 100px;
        width: 100px;
        object-fit: cover;
      }
    }
    .story-row {
      &:first-of-type {
        height: 50px;
      }
      height: 200px;
    }
  }
}
