@import '../../../assets/scss/bootstrap';
@import '../../../assets/scss/variables';

.story-cover-content {
  height: 80%;
  position: relative;
  border-radius: 30px;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    height: 83%;
    border-radius: 0px;
  }
  &.shadow {
    @include media-breakpoint-down(md) {
      box-shadow: none !important;
    }
  }
  .row {
    height: 100%;
    width: 100%;
    .col {
      height: 100%;
      width: 100%;
      .dark-overlay {
        width: 100%;
        height: 100%;
        padding: 3rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        background: rgba($black, 0.3);
      }
      h2 {
        color: $white;
      }
    }
  }
}
