.admin-content {
  height: 100%;
  .row {
    height: 100%;
    .col-sm-12 {
      height: 100%;
      padding: 50px;
    }
  }
  .btn-primary {
    background-color: #6a994e;
    border-color: #6a994e;
  }
}
