@font-face {
  font-family: 'HARU BIRU 2 Regular';
  font-style: normal;
  font-weight: normal;
  src: local('HARU BIRU 2 Regular'),
    url('../../../fonts/HARU_BIRU_2.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
  * {
    font-family: 'Nunito', sans-serif;
  }
}

.cc-revoke {
  display: none !important;
}
.table {
  .row {
    &:first-of-type {
      font-weight: bold;
    }
    border-radius: 10px;
    background-color: white;
    padding: 15px 10px;
    margin-bottom: 3px;
  }
}

.img-thumbnail-wrap {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.img-thumbnail-list-wrap {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
