.user-content {
  background: linear-gradient(251.43deg, #d65059 15.97%, #f29949 83.52%);
  @include media-breakpoint-down(md) {
    background: linear-gradient(180deg, #f29949 16.06%, #d54e59 93.25%);
  }

  .main-content {
    overflow: auto;
  }

  .btn-primary {
    background-color: $indian-red;
    border: none;
    padding: 10px 20px;
    &:focus,
    &:hover {
      background-color: $sandy-brown;
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem $indian-red !important;
    }
  }
  a {
    &:focus {
      box-shadow: 0 0 0 0.25rem $indian-red !important;
      outline: 0;
    }
  }

  .shadow {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  }

  //styleName: H1;
  h1 {
    color: $indian-red;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 40px;
    font-style: normal;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    @include media-breakpoint-down(xs) {
      font-size: 32px;
    }
  }

  //styleName: H2;
  h2 {
    color: $indian-red;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 32px;
    font-style: normal;
    line-height: 59px;
    letter-spacing: 0px;
    text-align: left;
    @include media-breakpoint-down(xs) {
      font-size: 24px;
    }
  }

  //styleName: H3;
  h3 {
    color: $indian-red;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 28px;
    font-style: normal;
    line-height: 46px;
    letter-spacing: 0px;
    text-align: left;
    @include media-breakpoint-down(xs) {
      font-size: 20px;
    }
  }

  .small {
    font-size: 12px;
  }
  .container {
    max-width: 1100px;
  }
}
