@import 'bootstrap';
@import '../../../assets/scss/bootstrap';
@import '../../../assets/scss/variables';

.home-content {
  height: 80%;
  position: relative;
  border-radius: 30px;
  h1 {
    color: $sandy-brown;
  }
  @include media-breakpoint-down(md) {
    height: 83%;
    border-radius: 0px;
  }
  &.shadow {
    @include media-breakpoint-down(md) {
      box-shadow: none !important;
    }
  }
  .row {
    height: 100%;
    @include media-breakpoint-down(md) {
      background-color: $white;
    }
    .col-md-6 {
      height: 100%;
      &:first-of-type {
        border-radius: 30px 0px 0px 30px;
        overflow: hidden;
        background-color: #d1dae2;
        padding: 0;
        @include media-breakpoint-down(md) {
          height: 50%;
          border-radius: 0px;
        }
        .cover-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &:nth-of-type(2) {
        border-radius: 0px 30px 30px 0px;
        background-color: white;
        padding: 1.5rem;
        @include media-breakpoint-down(md) {
          overflow: scroll;
          border-radius: 0px;
          height: 50%;
          padding: 3rem !important;
          overflow-y: scroll;
        }
      }
    }
  }
  .date-container {
    border-radius: 10px;
    height: 140px;
    width: 115px;
    position: absolute;
    top: 66px;
    left: -70px;
    z-index: 1;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    box-shadow: -2px 0px 8px rgba(0, 0, 0, 0.25);
    @include media-breakpoint-down(md) {
      top: 270px;
      left: 26px;
      height: 100px;
      width: 85px;
    }
    .day {
      padding-top: 7px;
      font-size: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60%;
      color: $sandy-brown;
      @include media-breakpoint-down(md) {
        font-size: 40px;
      }
    }
    .month {
      background-color: $indian-red;
      color: $white;
      height: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Nunito', sans-serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 46px;
      letter-spacing: 0px;
      text-align: left;
      @include media-breakpoint-down(md) {
        font-size: 20px;
        height: 35%;
      }
    }
  }
}
