@import '../../../assets/scss/bootstrap';
@import '../../../assets/scss/variables';

.progress-content {
  height: 80%;
  position: relative;
  background-color: $white;
  border-radius: 30px;
  @include media-breakpoint-down(md) {
    height: 83%;
    border-radius: 0px;
  }
  &.shadow {
    @include media-breakpoint-down(md) {
      box-shadow: none !important;
      overflow: scroll;
    }
  }
  .row {
    height: 100%;
    width: 100%;
    .col {
      height: 100%;
      width: 100%;

      img {
        display: block;
        height: 200px;
        margin: 100px auto 50px auto;
      }
    }
  }
}
