@import '../../assets/scss/bootstrap';
@import '../../assets/scss/variables';

.progress-line {
  display: flex;
  margin: 100px auto;
  width: fit-content;

  .dot {
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid $indian-red;
    margin-right: 20px;
    &:last-of-type {
      margin-right: 0px;
    }
    @include media-breakpoint-down(md) {
      margin-right: 10px;
      height: 15px;
      width: 15px;
    }
    &:not(:nth-of-type(8)) {
      &:after {
        content: '';
        height: 1px;
        width: 20px;
        background-color: $indian-red;
        position: absolute;
        top: 50%;
        left: 100%;
        @include media-breakpoint-down(md) {
          width: 10px;
        }
      }
    }
  }
}
