.edit-profile-container button {
  background-color: #6a994e;
  color: white;
  border-color: #6a994e;
  padding: 5px 20px;
}

.edit-profile-container button:focus,
.edit-profile-container button:active,
.edit-profile-container button:hover {
  border-color: #386641 !important;
  background-color: #386641 !important;
}
