@import '../../../assets/scss/bootstrap';
@import '../../../assets/scss/variables';

.favourite-stories-content {
  height: 80%;
  position: relative;
  border-radius: 30px;
  @include media-breakpoint-down(md) {
    height: auto;
    border-radius: 0px;
  }
  h2 {
    color: $white !important;
  }
  .row {
    .col {
      .card-container {
        width: 100%;
        height: 200px;
        background-color: #d1dae2;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        .title-container {
          height: 30%;
          width: 100%;
          background: rgba($indian-red, 0.8);
          position: absolute;
          bottom: 0;
          p {
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            color: $white;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
