@import '../../assets/scss/bootstrap';
@import '../../assets/scss/variables';

.headerAdmin {
  background-color: #fff;
  height: 100vh;
  nav {
    padding: 20px 30px;
  }

  .logoWrap {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    background-color: #6a994e;
    padding: 20px 30px;
  }
  .logoWrap p {
    margin-bottom: 0px;
    color: #386641;
    font-size: 14 px;
  }

  .logoWrap p:first-child {
    font-weight: 700;
  }

  .logoWrap img {
    height: 50px;
    width: auto;
    margin-right: 10px;
  }
}

.headerUser {
  position: relative;
  .headerBaner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 20px 15px 0px 15px;
    @include media-breakpoint-down(md) {
      padding: 7px 15px 0px 15px;
      margin-bottom: 10px;
    }
  }
  .logoWrap {
    display: flex;
    align-items: center;
    img {
      height: 60px;
      width: auto;
      margin-right: 10px;
      @include media-breakpoint-down(md) {
        height: 40px;
      }
    }
    p {
      margin: 0;
    }
  }
  .burgerIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    background-color: $sandy-brown;
    border: none;
    &:focus {
      box-shadow: 0 0 0 0.25rem $white;
      outline: 0;
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
    .iconBar {
      width: 60%;
      height: 2px;
      background-color: $white;
      border-radius: 4px;
    }
  }
}
