@import '../../../assets/scss/bootstrap';
@import '../../../assets/scss/variables';

.activity-content {
  height: 80%;
  position: relative;
  background-color: $white;
  border-radius: 30px;
  @include media-breakpoint-down(md) {
    height: 83%;
    border-radius: 0px;
  }
  &.shadow {
    @include media-breakpoint-down(md) {
      box-shadow: none !important;
      overflow: scroll;
    }
  }
  .row {
    height: 100%;
    width: 100%;
    .col {
      height: 100%;
      @include media-breakpoint-down(md) {
        height: 50%;
      }
      .img-wrap {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #d1dae2;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        @include media-breakpoint-down(md) {
          width: 250px;
          height: 250px;
        }
      }
    }
  }
}
