.main-container {
  height: 100vh;
  overflow: scroll;
  @include media-breakpoint-down(md) {
    padding: 0 !important;
  }

  .row {
    height: inherit;
    .col {
      height: inherit;
    }
  }
}
