@import '../../../assets/scss/bootstrap';
@import '../../../assets/scss/variables';

.user-profile-content {
  height: 80%;
  position: relative;
  background-color: $white;
  border-radius: 30px;

  &.shadow {
    @include media-breakpoint-down(md) {
      box-shadow: none !important;
    }
  }
  @include media-breakpoint-down(md) {
    height: 83%;
    overflow-y: scroll;
    border-radius: 0px;
  }
  .row {
    height: 100%;
    width: 100%;
    .col {
      height: 100%;
      @include media-breakpoint-down(md) {
        &:first-of-type {
          height: 30%;
        }
        height: auto;
      }
      .progress-line {
        margin: 0px;
      }
    }
  }
  .logout-btn {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}
