@import '../../assets/scss/bootstrap';
@import '../../assets/scss/variables';

.drag-button-container {
  width: 200px;
  height: 52px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 1px solid $indian-red;
}

.box {
  background: white;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;
}

.drag-button-text {
  color: $indian-red;
  margin: 0;
  text-align: center;
  width: 100%;
}

.progress-icon {
  width: 80%;
  height: 80%;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
