@import '../../assets/scss/bootstrap';
@import '../../assets/scss/variables';

.login-content {
  height: 80%;
  position: relative;
  border-radius: 30px;
  @include media-breakpoint-down(md) {
    background-color: white;
  }
  .row {
    height: 100%;
    .col-md-6 {
      height: inherit;
      &:first-of-type {
        border-radius: 30px 0px 0px 30px;
        overflow: hidden;
        background-color: #d1dae2;
        padding: 0;
        @include media-breakpoint-down(md) {
          height: 350px;
          border-radius: 0px 0px 30px 30px;
        }
        .cover-img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      &:nth-of-type(2) {
        border-radius: 0px 30px 30px 0px;
        background-color: white;
        @include media-breakpoint-down(md) {
          border-radius: 0px;
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    height: auto;
    border-radius: 0px;
  }
}
