@import '../../../assets/scss/bootstrap';
@import '../../../assets/scss/variables';

.story-content {
  height: 80%;
  position: relative;
  @include media-breakpoint-down(md) {
    height: 83%;
    border-radius: 0px;
  }
  &.shadow {
    @include media-breakpoint-down(md) {
      box-shadow: none !important;
    }
  }
  .row {
    height: 100%;
    width: 100%;
    .col {
      height: 100%;
      width: 100%;
      .add-to-fav-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 99;
        cursor: pointer;
        &:hover {
          color: $indian-red !important;
        }
      }
      .carousel {
        height: 100%;
        border-radius: 30px;
        overflow: hidden;
        @include media-breakpoint-down(md) {
          border-radius: 0px;
        }
        a {
          @include media-breakpoint-down(md) {
            height: 50%;
          }
        }
        .carousel-inner {
          height: 100%;
          overflow: visible;
          .carousel-item {
            height: 100%;
            position: relative;
            .image {
              height: 100%;
              img {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                object-fit: cover;
                background-color: #d1dae2;

                @include media-breakpoint-down(md) {
                  height: 50%;
                  border-radius: 0px;
                }
              }
            }
            .text {
              position: absolute;
              bottom: 0;
              padding: 10px;
              background-color: white;
              width: 100%;
              padding: 20px;
              margin: auto;
              text-align: center;
              @include media-breakpoint-down(md) {
                height: 50%;
                width: 100%;
                border: none;
                transform: translate(0, 0);
                padding-top: 30px;
              }
            }
          }
        }
        .carousel-control-next,
        .carousel-control-prev {
          background-color: $sandy-brown;
          border-radius: 50%;
          height: 50px;
          width: 50px;
          bottom: 0;
          margin-top: 250px;
          margin-left: 15px;
          margin-right: 15px;
          opacity: 1;
          @include media-breakpoint-down(md) {
            border-radius: 50%;
            margin-top: 310px;
            margin-left: 15px;
            margin-right: 15px;
          }
          .sr-only {
            display: none;
          }
        }
      }
    }
  }
}
